web-service-clients/src/main/resources/META-INF/external-service.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.sola.org/external" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.sola.org/external" name="external-service" xmlns:sc="http://schemas.sun.com/2006/03/wss/client" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/external" schemaLocation="http://localhost:8080/sola/webservices/external-service?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/digitalarchive/" schemaLocation="http://localhost:8080/sola/webservices/external-service?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/casemanagement/" schemaLocation="http://localhost:8080/sola/webservices/external-service?xsd=3"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/cadastre/" schemaLocation="http://localhost:8080/sola/webservices/external-service?xsd=4"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/administrative/" schemaLocation="http://localhost:8080/sola/webservices/external-service?xsd=5"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/" schemaLocation="http://localhost:8080/sola/webservices/external-service?xsd=6"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/faults/" schemaLocation="http://localhost:8080/sola/webservices/external-service?xsd=7"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/external" schemaLocation="http://localhost:8080/sola/webservices/external-service?xsd=8"/>
</xsd:schema>
</types>
<message name="getClient">
<part name="parameters" element="tns:getClient"/>
</message>
<message name="getClientResponse">
<part name="parameters" element="tns:getClientResponse"/>
</message>
<message name="SOLAAccessFault">
<part name="fault" element="tns:SOLAAccessFault"/>
</message>
<message name="SOLAFault">
<part name="fault" element="tns:SOLAFault"/>
</message>
<message name="UnhandledFault">
<part name="fault" element="tns:UnhandledFault"/>
</message>
<message name="saveClient">
<part name="parameters" element="tns:saveClient"/>
</message>
<message name="saveClientResponse">
<part name="parameters" element="tns:saveClientResponse"/>
</message>
<message name="OptimisticLockingFault">
<part name="fault" element="tns:OptimisticLockingFault"/>
</message>
<message name="SOLAValidationFault">
<part name="fault" element="tns:SOLAValidationFault"/>
</message>
<message name="makeRequest">
<part name="parameters" element="tns:makeRequest"/>
</message>
<message name="makeRequestResponse">
<part name="parameters" element="tns:makeRequestResponse"/>
</message>
<message name="checkConnection">
<part name="parameters" element="tns:checkConnection"/>
</message>
<message name="checkConnectionResponse">
<part name="parameters" element="tns:checkConnectionResponse"/>
</message>
<message name="getClientRequests">
<part name="parameters" element="tns:getClientRequests"/>
</message>
<message name="getClientRequestsResponse">
<part name="parameters" element="tns:getClientRequestsResponse"/>
</message>
<portType name="External">
<operation name="getClient">
<input wsam:Action="http://webservices.sola.org/external/External/getClientRequest" message="tns:getClient"/>
<output wsam:Action="http://webservices.sola.org/external/External/getClientResponse" message="tns:getClientResponse"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/external/External/getClient/Fault/SOLAAccessFault"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/external/External/getClient/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/external/External/getClient/Fault/UnhandledFault"/>
</operation>
<operation name="saveClient">
<input wsam:Action="http://webservices.sola.org/external/External/saveClientRequest" message="tns:saveClient"/>
<output wsam:Action="http://webservices.sola.org/external/External/saveClientResponse" message="tns:saveClientResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/external/External/saveClient/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/external/External/saveClient/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/external/External/saveClient/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/external/External/saveClient/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/external/External/saveClient/Fault/SOLAValidationFault"/>
</operation>
<operation name="makeRequest">
<input wsam:Action="http://webservices.sola.org/external/External/makeRequestRequest" message="tns:makeRequest"/>
<output wsam:Action="http://webservices.sola.org/external/External/makeRequestResponse" message="tns:makeRequestResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/external/External/makeRequest/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/external/External/makeRequest/Fault/UnhandledFault"/>
</operation>
<operation name="checkConnection">
<input wsam:Action="http://webservices.sola.org/external/External/checkConnectionRequest" message="tns:checkConnection"/>
<output wsam:Action="http://webservices.sola.org/external/External/checkConnectionResponse" message="tns:checkConnectionResponse"/>
</operation>
<operation name="getClientRequests">
<input wsam:Action="http://webservices.sola.org/external/External/getClientRequestsRequest" message="tns:getClientRequests"/>
<output wsam:Action="http://webservices.sola.org/external/External/getClientRequestsResponse" message="tns:getClientRequestsResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/external/External/getClientRequests/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/external/External/getClientRequests/Fault/UnhandledFault"/>
</operation>
</portType>
<binding name="ExternalPortBinding" type="tns:External">
    <wsp:PolicyReference URI="#ExternalPortBindingPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
</operation>
<operation name="saveClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
<operation name="makeRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
</operation>
<operation name="checkConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getClientRequests">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="external-service">
<port name="ExternalPort" binding="tns:ExternalPortBinding">
<soap:address location="http://localhost:8080/sola/webservices/external-service"/>
</port>
</service>
    <wsp:Policy wsu:Id="ExternalPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:TrustStore wspp:visibility="private" type="JKS" storepass="changeit" peeralias="xws-security-server" location="cacerts.jks"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>